<!DOCTYPE html>
<html >
<head>
	<meta charset="UTF-8">
	<title>watchMe</title>  
	<link rel="stylesheet" href="../css/loginstyle.css">  
</head>

<body>
    <script type="text/javascript" src="../js/myscript.js"></script>  
	<div class="container">
	    <form id="contact">
		 <h1>WatchMe Reporter</h1>
	      <fieldset>
	       Select crime category
	         <select id="option">
			  <option value="accident">Accident</option>
			  <option value="theft" >Theft case</option>
			  <option value="Road rules">Road rules</option>
			</select> 
	          </fieldset> 		      

			   <button type="button" id="button">Upload picture</button><br><br>
			   <fieldset>
		       Describe the scene
		      <textarea type="text" id="description" name="description" rows="4" cols="50">
	           </textarea> 
	           </fieldset>
		
		<button name="login" type="button" id="loginSubmit" ">Send to authorities</button>
		</form>
	
	</div>

    <script type="text/javascript" src="../js/plugins.js"></script> 
</body>
</html>


